*{
	outline: none;
}
header{

	// float: left;

	.header{
		height: 75px;
		width: 100%;
		border-bottom: 2px solid silver;
	}

	.logo{
		display: block;
		height: 71px;
		margin: 2px;
		margin-left: 20px;
		float: left;
	}

	#logotype{
		float: left;
		padding-top: 15px;
		margin-left: 20px;
		font-size: 2.2em;
		font-family: SEGOE SCRIPT, sans-serif;
	}

	#logotype:hover{
		text-decoration: none;
	}

	#admin{
		float: right;
		padding-top: 15px;
		margin-right: 30px;
		font-size: 2.2em;
		font-family: SEGOE SCRIPT, sans-serif;
	}

	#admin:hover{
		text-decoration: none;
	}
}